<manifest
  package="com.gbh.movil"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <application
    android:name="com.gbh.movil.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/App.Theme"
    tools:node="replace">
    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="fa97cc2f5c3339e67fe12a40ce7ae391909b4e9d"/>
    <activity
      android:name=".ui.splash.SplashActivity"
      android:screenOrientation="portrait"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.main.MainActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".ui.main.recipients.AddRecipientActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".ui.main.transactions.TransactionCreationActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".ui.main.products.transactions.RecentTransactionsActivity"
      android:screenOrientation="portrait"/>
  </application>
</manifest>
